
{% extends 'base.html' %}

{% block title %} Forgot Password {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <div style="margin:auto; margin-top:15%; width:30%; border:3px solid #73AD21; padding: 10px;">
        <h2>Forgot Password Form</h2>
        <form name="forgotPasswordForm" method="post" style="text-align:center;">
            {% csrf_token %}

            <input type="text" name="username" class="mt-5" required />

            <button type="submit" class="mt-5">Send Reset Password Link</button>
        </form>
    </div>
{% endblock %}